@import '../../theme/variables';

@mixin button-size($size) {
  padding: calc($size / 4) 0;
  width: $size * 5;
  font-size: calc($size / 3.5);
}

:host {
  display: block;
  text-align: center;
}

.app-button {
  border: none;
  border-radius: $spacing;
  text-align: center;
}

.app-button {
  @each $key, $value in $sizes {
    &.#{$key} {
      @include button-size($value);
    }
  }
}

.app-button:hover {
  opacity: 0.9;
}
