@import "../../theme/variables";

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding: 100px 16px 0 16px;
}

.contacts-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.action {
  border: 2px solid $secondary;
  color: $secondary;
  padding: $spacing;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 $spacing * 2 $spacing * 4 $spacing * 2;
}

.action:hover {
  color: $secondary-dark;
  border-color: $secondary-dark;
}

.action:active {
  opacity: 0.75;
}

.contacts-list {
  width: 60%;
  overflow-y: scroll;
  height: 70vh;
  box-shadow: 0px 0px 10px 0px #9b9b9b, 0 1px 1px 0 #9b9b9b, 0 1px 3px 0 #9b9b9b;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}
